body {
  background-color: black;
}

.columns {
  float: left;
  width: 33%;
  color: white;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

h1 {
  text-align: center;
  color: white;
  font-family: monospace;
}

p {
  font-family: monospace;
}
