body {
  background-color: black;
}

.columns1 {
  float: left;
  width: 33%;
  background-color:#af111c;
}

.columns2 {
  float: left;
  width: 33%;
  background-color: grey;
}

.columns3 {
  float: left;
  width: 33%;
  background-color: #d3d3d3;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
  background-color: grey;
}

h1 {
  text-align: center;
  color: white;
  font-family: monospace;
}

p {
  font-family: monospace;
}
